*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

nav {
  width: 100%;
  height: 80px;
  background: #0087C4;
}

.new-menu {
  text-align: center;
  width: -webkit-fill-available;
}

.new-menu li {
  font: 13px Verdana, "Lucida Grande";
  cursor: pointer;
  -webkit-transition: padding 0.05s linear;
  -moz-transition: padding 0.05s linear;
  -ms-transition: padding 0.05s linear;
  -o-transition: padding 0.05s linear;
  transition: padding 0.05s linear;
  list-style: none;
}

.new-menu li.drop {
  position: relative;
}
/* .new-menu li.drop:hover{
  color: #000 !important;
} */
.new-menu > li {
  display: inline-block;
}

.new-menu .drop {
  line-height: 80px;
  padding: 0 20px;
  height: 80px;
  color: #fff;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.new-menu li a:hover {
  color: #fff;
}

.dropOut .triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  top: -8px;
  left: 50%;
  margin-left: -8px;
}

.dropdownContain {
  width: 160px;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -80px;
  /* half of width */
  top: -400px;
}

.dropOut {
  width: 100%;
  background: white;
  float: left;
  position: relative;
  margin-top: 0px;
  opacity: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.dropOut a{
  color: #777 !important;
}
.dropOut .dropdownli li:hover a{
  color: #000 !important;
  font-weight: 500;
}
.dropOut ul {
  /* float: left; */
  padding: 5px;
}

.dropOut .dropdownli li {
  text-align: center;
  margin: 0px 10px;
  color: #777 !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -ms-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

.dropOut .dropdownli li:hover {
  background: #f6f6f6;
  color: #000 !important;
  margin: 0px;
}

.new-menu .dropdownli li:hover .sub_menu {
  color: #000;
}
/* triangle */
.new-menu li:hover .dropdownContain {
  top: 65px;
}

.new-menu li:hover .dropOut {
  opacity: 1;
  margin-top: 8px;
}
/* span{
  padding: 0;
  margin: 0;
} */
.dropdownli li a{
  line-height: 2 !important;
}

/*body content*/
#content-outer{
  margin-top: 15vh;
}