body {
    background-color: #F5F5F5;
}

.default_nav {
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:root {
    --gray: #555;
    --purple: #4e65ff;
    --green-blue: #92effd;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navigation {
    position: absolute !important;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background: var(--white);
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
}

.navigation .user-box {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.navigation .user-box .username {
    font-size: 1.2rem;
    white-space: nowrap;
    color: var(--gray);
}

.navigation .user-box .image-box {
    position: relative;
    min-width: 60px;
    height: 60px;
    background: var(--white);
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid var(--white);

}

.navigation .user-box .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation .menu-toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigation .menu-toggle::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: var(--gray);
    transform: translateY(-10px);
    box-shadow: 0 10px var(--gray);
    transition: 0.5s;
}

.navigation .menu-toggle::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: var(--gray);
    transform: translateY(10px);
    transition: 0.5s;
}

.menu {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu li {
    list-style: none;
}

.menu li a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    font-size: 1rem;
    text-decoration: none;
    color: var(--gray);
}

.menu li a ion-icon {
    font-size: 1.5rem;
}

.menu li a:hover {
    color: var(--purple);
}

.navigation.active .menu-toggle::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: none;
}

.navigation.active .menu-toggle::after {
    transform: translateY(0px) rotate(-45deg);
}

.navigation.active {
    width: 300px;
    height: 200px;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
}

.navigation.active .user-box {
    width: calc(100% - 60px);
    transition-delay: 0s;
}

/* End of navigation css */

/* search bar */

.search-resume-div {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 0 50px 0 50px;
}

.search-inputs, .search-text, .container-db, .search-btn {
    background-color: #fff;
}

.search-text {
    font-size: 2em;
    font-weight: 500;
    margin-left: 35px;
}

.container-db {
    margin: 20px;
    display: flex;
    flex-flow: wrap;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}



select {
    min-width: 176.4px;
}

.search-btn {
    margin-left: 2.5%;
}

input, select {
    padding: 5px;
    border-radius: 8px;
    border: 2px solid #0087C4;
    cursor: pointer;
    color: #515151;
}

.input-div {
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

/* search btn css */
.cssbuttons-io-button {
    background: #0087C4;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #0087C4;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #0087C4;
    background-color: #fff;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

/* check box */
.dropdown-check-list {
    display: inline-block;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 2px solid #0087C4;
    border-radius: 10px;
    color: #515151;
    width: 176.4px;
    height: 30.8px;
    font-size: 13.3px;
}

.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list ul.items {
    position: absolute;
    width: 174.4px;
    padding: 2px;
    height: max-content;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    height: 200px;
    display: none;
    margin: 0;
    margin-top: 5px;
    border: 1px solid #000;
    border-top: none;
    border-radius: 10px;
    font-size: 13.3px;
    color: #515151;
    background-color: #fff;
}

.dropdown-check-list ul.items input {
    margin-top: 2px;
    margin-right: 5px;
}

.dropdown-check-list ul.items li {
    list-style: none;
    padding-bottom: 2.5px;
}

/* Table css */
table {
    font-family: Verdana;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

tr:hover {
    background-color: #0087C4;
    cursor: pointer;
}

td, th {
    padding: 10px;
    text-align: center;
    margin: 0;
}

tbody tr:nth-child(2n) {
    background-color: #fff;
}

tbody tr:nth-child(2n):hover {
    background-color: #0087C4;
}

th {
    position: sticky;
    top: 0;
    background-color: #0087C4;
    color: 000;
}

tr {
    border-bottom: 1px solid #000;
}

tr a {
    text-decoration: none;
    color: #000;
}

.table-div {
    margin: 10px 20px 0 20px;
    padding: 20px 50px;
}

.search-in-table input {
    width: 320px;
    padding: 10px;
}

/* css for download excel */
/* From uiverse.io by @barisdogansutcu */
.download-button {
    position: relative;
    border-width: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

.download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    height: 3em;
    padding: 0 10px;
    border-radius: 10px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
    transform: translateY(100%)
}

.download svg polyline, .download svg line {
    animation: docs 1s infinite;
}

@keyframes docs {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}

.animate-btn {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-right: 40%;
    align-items: center;
}

.css-i6dzq1 {
    background: transparent !important;
}

.table-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

.end-text {
    text-align: center;
    padding-bottom: 20px;
}

.selectpicker {
    border-radius: 20px !important;
}

.dropdown-menu {
    max-width: 176.4px !important;
    max-height: 240px !important;
}

/*pagination css*/
.pagination\:container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none !important;
    margin-top: 20px;
}
.pagination\:container .active{
    margin: 0 6px;
    border-radius: 6px;
    background: #2d2d2d;
    min-width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
    color: #fff !important;
}
.pagination\:container li {
    margin: 0 6px;
    border-radius: 6px;
    background: #0087C4;
    min-width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
}
.pagination\:container li a{
    color: #fff !important;
}
.pagination\:container li:active {
    background: #282828;
    color: #fff;
}

.pagination\:active {
    background: #282828;
    position: relative;
    color: #fff;
} 
/* table header */
#myTable thead tr, th{
    color: #fff !important;
    font-weight: 500;
}
#myTable tbody tr:hover{
    color: #fff !important;
}
#myTable tbody tr a:hover{
    color: #fff !important;
}
/* svg */
.cds_svg{
    background: none !important;
    display: block;
    float: left;
    height: 24px;
    width: 24px;
}
.cds_svg:hover{
    color: #fff !important;
}
