*	{
	margin: 0;
	padding: 0;
	}
html, body	{
	height: 100%;
	}
body	{
	color: #393939;
	font-family: Cambria;
	font-size: 14px;
	/*line-height: 0;*/
	font-weight: normal;
	background-color: #fff !important;
	
	}
#page-top-outer	{
	border-bottom: 1px solid #7e7e7e;
	height: 115px;
	background-image: url(../images/login/login_bg.png);
	background-repeat: repeat-x;
	background-position: center top;
	}
#page-top	{
	margin: 0 auto;
	/*max-width: 1260px;*/
	min-width: 850px;
	position: relative;
	/*width: 100%;*/
    padding-left: 50px;
	}
#logo	{
	float: left;
	margin: 5px 0 0 15px;
	}
#logo	a	{
	display: block;
	}
#top-search	{
	display: inline;
	float: right;
	position: relative;
	margin: 5px 0 0 0;
	z-index: 20;
	width:856px;
}
	
 
.top-search-inp	{
	border: none;
	color: #333;
	font-size: 12px;
	line-height:28px;
	text-indent:10px;
	height: 25px;
	margin-right:3px;
	width: 140px;
	background-color: #f8f8f8;
	}
#content-outer	{
	background: url(../images/shared/content_repeat.jpg) repeat-x;
	}
#content	{
	color: #333;
	font-family: cambria, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto !important;
	width: auto;
	padding:30px 0px 0px 0px;
}
#content-inner	{
	color: #333;
	font-family: cambria, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0px auto;
	padding: 25px 0 30px 0;
	}
#content-table	{
	font-size: 0px;
	line-height: 0px;
	}
#content-table th.sized	{
	height: 15px;
	width: 15px;
	padding: 0;
	margin: 0;
	font-size: 0px;
	line-height: 0px;
	}
 
	
#content-table-inner	{
	font-size: 12px;
	line-height: 12px;
	width:99%;
	margin:0 5px;
	/*padding: 10px 0 20px 0;*/
	}
#tbl-border-top	{
	background: url(../images/shared/border_bit.jpg) top repeat-x;
	line-height: 0;font-size: 0px;
	height: 15px;
	}
#tbl-border-bottom	{
	background: url(../images/shared/border_bit.jpg) bottom repeat-x;
	line-height: 0;font-size: 0px;
	height: 15px;
	}
#tbl-border-left	{
	background: url(../images/shared/border_bit.jpg) left repeat-y;
	}
#tbl-border-right	{
	background: url(../images/shared/border_bit.jpg) right repeat-y;
	}
#table-content	{
	line-height: 16px;
	/*margin: 0 10px 10px 10px;
	width:98%;*/
	min-height: 300px;
	}
	
.topleft {
background: url(../images/shared/corner_top_left.jpg) no-repeat;
width:15px;
height:15px;
	
}	
.topright {
background: url(../images/shared/corner_top_right.jpg) no-repeat;
width:15px;
height:15px;
	
}	

.bottomleft {
background: url(../images/shared/corner_bottom_left.jpg)  no-repeat;
width:15px;
height:15px;
	
}	
.bottomright {
background: url(../images/shared/corner_bottom_right.jpg)  no-repeat;
width:15px;
height:15px;
	
}	

#page-heading	{
	margin: 40px 0 15px 20px;
	}

@-moz-document url-prefix() {
    #page-heading {
        margin: 0 0 15px 20px;
    }
}

  h1	{
	color: #4b4b4b;
	font-family: cambria;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
	}
h2	{
	color: #393939;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
	}
h3	{
	color: #335F86;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
	}
	
	
/* MESSAGES --------------------------------------------------------------- */	
#message-yellow	{
	margin-bottom: 5px;
	}
.yellow-left	{
	background: url(../images/table/message_yellow.gif) top left no-repeat;
	color: #e79300;
	font-family: cambria;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.yellow-left a	{
	color: #e79300;
	font-family: cambria;
	font-weight: normal;
	text-decoration: underline;
	}
.yellow-right a	{
	cursor: pointer;
	}
.yellow-right	{
	width: 55px;
	}
#message-blue	{
	margin-bottom: 5px;
	}
.blue-left	{
	background: url(../images/table/message_blue.gif) top left no-repeat;
	color: #2e74b2;
	font-family: cambria;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.blue-left a	{
	color: #2e74b2;
	font-family: cambria;
	font-weight: normal;
	text-decoration: underline;
	}
.blue-right a	{
	cursor: pointer;
	}
.blue-right	{
	width: 55px;
	}
#message-red	{
	margin-bottom: 5px;
	}
.red-left	{
	background: url(../images/table/message_red.gif) top left no-repeat;
	color: #ce2700;
	font-family: cambria;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.red-left a	{
	color: #ce2700;
	font-family: cambria;
	font-weight: normal;
	text-decoration: underline;
	}
.red-right a	{
	cursor: pointer;
	}
.red-right	{
	width: 55px;
	}
#message-green	{
	margin-bottom: 5px;
	}
.green-left	{
	background: url(../images/table/message_green.gif) top left no-repeat;
	color: #6da827;
	font-family: cambria;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 20px;
	}
.green-left a	{
	color: #6da827;
	font-family: cambria;
	font-weight: normal;
	text-decoration: underline;
	}
.green-right a	{
	cursor: pointer;
	}
.green-right	{
	width: 55px;
	}	
	
	
	
	
	
a.icon-target	{
	background: url(../images/icon-target.png) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 2px 8px 0 90px !important;
	width: 24px;
	}	
	
	
a.icon-1	{
	background: url(../images/table/table_icon_1.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 2px 8px 0 20px;
	width: 24px;
	}
a:hover.icon-1	{
	
	}
a.icon-2	{
	background: url(../images/table/table_icon_2.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-2	{
	background: url(../images/table/table_icon_2.gif) 0 -24px;
	}
a.icon-3	{
	background: url(../images/table/table_icon_3.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-3	{
	background: url(../images/table/table_icon_3.gif) 0 -24px;
	}
a.icon-4	{
	background: url(../images/table/table_icon_4.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-4	{
	background: url(../images/table/table_icon_4.gif) 0 -24px;
	}
a.icon-5	{
	background: url(../images/table/table_icon_5.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
a:hover.icon-5	{
	background: url(../images/table/table_icon_5.gif) 0 -24px;
	}
#tooltip	{
	background-color: #8c8c8c;
	border: 1px solid #767676;
	color: #fff;
	font-family: cambria;
	font-size: 10px;
	font-weight: normal;
	opacity: 0.85;
	padding: 0 5px;
	position: absolute;
	text-align: left;
	z-index: 3000;
	}
#tooltip h6, #tooltip div	{
	font-family: cambria;
	font-size: 11px;
	line-height: 20px;
	margin: 0;
	}
#product-table	{
	margin: 0 auto;
	margin-bottom: 20px;
	font: 13px Cambria !important;
	}
#product-table	td a{
	padding:0px;
	margin:0 0 0 5px;
	color: #393939;
	}
#product-table	td a:hover	{
	text-decoration: underline;
	}
#product-table	th	{
	height: 50px;
	/*text-align: left;*/
	}
#product-table	.minwidth-1	{
	min-width: 57px;
	}
#product-table	.minwidth-2	{
	min-width: 83px;
	}
#product-table	.minwidth-3	{
	min-width: 94px;
	}
#product-table .minwidth-4	{
	min-width: 60px;
	}
#product-table .minwidth-5	{
	min-width: 65px;
	}
#product-table .minwidth-6	{
	min-width:94px;
	}
#product-table .minwidth-16a	{
	min-width:120px;
	}	
#product-table .minwidth-16	{
	min-width:150px;
	}
#product-table .minwidth-rashid	{
	min-width:55px;
	}
#product-table .minwidth-7	{
	min-width: 65px;
	}
#product-table td	{
	/*border: 1px solid #d2d2d2;*/
	border: 1px solid #333333;
	padding: 10px 0 10px 10px;
	}

.gerua {
	background:#FFE491;
}	

#product-table tr.alternate-row	{
	background: #ececec;
	}
td.options-width	{
	padding: 0 0 0 10px;
	width: 210px;
	}
td.checkbox-width	{
	}
.table-header-check	{
	background: url(../images/table/table_header_checkbox.jpg) no-repeat;
	border: none;
	min-width: 29px;
	padding: 0px 0 0 10px;
	width: 29px;
	}
.table-header-options	{
	/*background: url(../images/table/table_header_options.jpg) no-repeat;*/
	background:#346087;
	border: none;
	padding: 0px 0 0 7px;
	color: #fff;
	font-family: cambria;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	}
.table-header-repeat	{
	/*background: url(../images/table/table_header_repeat.jpg) repeat-x;*/
	background:#346087;
	border: none;
	font-size: 0px;
	line-height: 0;
	padding: 0px 0 0 7px;
	color: #fff;
	font-family: cambria;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	}

	
th.line-left	{
	/*border-left: 1px solid #373737;*/
	border-left: 1px solid #333333;
	}
#product-table	tr.activity-blue	{
	background: #e3eceb;

	}
	
	#toggle-all {
		display: block;
		width: 17px;
		height:17px;
		cursor: pointer;
		background: url(../images/shared/checkbox.gif) 0 -17px;
	}
	
		#toggle-all.toggle-checked {
		display: block;
		width: 17px;
		height:17px;
		background: url(../images/shared/checkbox.gif) 0 0;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/*  RELATED ACTIVIES BOX */	

#related-activities	{
	float: right;
	font-size: 0px;
	line-height: 0;
	width: 271px;
	}
#related-act-top	{
	font-size: 0px;
	line-height: 0;
	}
#related-act-bottom	{
	background: url(../images/forms/bg_related_act.gif) no-repeat bottom;
	font-size: 0px;
	line-height: 0;
	}
#related-act-inner	{
	font-size: 11px;
	line-height: 16px;
	margin: 0 auto 0px auto;
	padding: 10px 0 20px 0;
	width: 225px;
	}
#related-act-inner .left	{
	float: left;
	width: 30px;
	}
#related-act-inner .right	{
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
	}
#related-act-inner .right h5	{
	color: #393939;
	font-size: 12px;
	}
ul.greyarrow	{
	list-style-type: none;
	}
ul.greyarrow li	{
	background: url(../images/forms/icon_list_arrow.gif) no-repeat 0 5px;
	line-height: 18px;
	padding: 0 0 0 12px;
	}
ul.greyarrow li a	{
	color: #2c577c;
	font-weight: bold;
	}
ul.greyarrow li a:hover	{
	text-decoration: underline;
	}
.lines-dotted-short	{
	background: url(../images/forms/lines_dotted_short.gif) no-repeat 0px 14px;
	font-size: 0px;
	height: 28px;
	line-height: 0;
	}
	
/* PAGING --------------------------------------------------------- */	

#paging-table {
	float: right;
	margin: 0 4px 0 0;
}	
.page-far-left	{
	background: url(../images/table/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 0;
	width: 24px;
	}
.page-left	{
	background: url(../images/table/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
.page-far-right	{
	background: url(../images/table/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 4px;
	width: 24px;
	}
.page-right	{
	background: url(../images/table/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
#page-info	{
	float: left;
	line-height: 16px;
	padding: 3px 12px 0 12px;
	}
	
/*  ACTIONS BOX ----------------------------------------------- */	
#actions-box	{
	float: left;
	margin: 0 0 0 10px;
	position: relative;
	}
a.action-slider	{
	background: url(../images/table/dropdown_actions.gif) no-repeat;
	display: block;
	height: 30px;
	width: 110px;
	}
a.action-slider1 {
	background: url(../images/table/prev.gif) no-repeat;
	display: block;
	height: 30px;
	width: 110px;
	}
a.action-slider2 {
	background: url(../images/table/next.gif) no-repeat;
	display: block;
	height: 30px;
	width: 110px;
	}	
a.action-slider.activated	{
	background: url(../images/table/dropdown_actions.gif) no-repeat 0 -30px;
	display: block;
	height: 30px;
	width: 110px;
	}
#actions-box-slider	{
	background: url(../images/table/actions_slider_bg.gif) bottom no-repeat;
	display: none;
	left: 0;
	padding-bottom: 1px;
	padding-top: 10px;
	position: absolute;
	top: 24px;
	width: 110px;
	}
#actions-box-slider-inner	{
	font-size: 0px;
	line-height: 0;
	margin: 0 auto;
	width: 108px;
	}
a.action-edit ,
a.action-delete	{
	color: #272727;
	display: block;
	font-weight: bold;
	height: 20px;
	margin: 0 auto;
	padding: 10px 0 5px 45px;
	width: 63px;
	}
a:hover.action-edit	{
	background: #949494 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	color: #fff;
	}
a.action-edit	{
	background: #c7c7c7 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	}
a.action-delete	{
	background: #c7c7c7 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	}
a:hover.action-delete	{
	background: #949494 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	color: #fff;
	}
		 
	
/* FORM ------------------------------------------------------- */	
.form-submit	{
	background: url(../images/forms/form_submit.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	margin: 0 4px 0 4px;
	padding: 0;
	text-indent: -3000px;
	width: 80px;
	}

.form-submit:hover	{
	background: url(../images/forms/form_submit_hover.gif) no-repeat;
	}	

.form-reset	{
	background: url(../images/forms/form_reset.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	text-indent: -3000px;
	width: 80px;
	}

.form-reset:hover	{
	background: url(../images/forms/form_reset_hover.gif) no-repeat;
}

#id-form	{
	}
.inp-form{
    	/*background: none repeat scroll 0 0 #FFFFFF; */
    	border: 1px solid #ACACAC;
	    border-radius: 2px;
    	/*color: #393939;
    	height: 31px;
    	line-height: 29px;
    	margin: 2px 0 0;*/
    	padding: 6px;
    	/*position: relative;
    	text-indent: 0;
    	top: 1px;
    	width: 193px;*/
    	margin: 0px 0px 0px 4px;
    	width: 180px;
	}
.inp-form:focus{
	-webkit-box-shadow: 0 2px 4px -2px #ccc;
	-moz-box-shadow: 0 2px 4px -2px #ccc;
	box-shadow: 0 2px 4px -2px #ccc;
	}
	
.inp-form-error	{
	background: url(../images/forms/form_inp_error.gif) no-repeat;
	border: none; 
	color: #393939;
	height: 25px;
	padding: 6px 6px 0 6px;
	width: 187px;
	}
.form-textarea	{
	background: url(../images/forms/form_textarea.gif) no-repeat;
	border: none;
	color: #393939;
	font-family: cambria, Helvetica, sans-serif;
	font-size: 12px;
	height: 100px;
	overflow: auto;
	padding: 6px 6px 0 6px;
	width: 378px;
	}
#id-form td	{
	padding: 0px;
	}
#id-form td.noheight	{
	padding: 0 0 0px 0;
	}
#id-form th	{
	line-height: 28px;
	min-width: 130px;
	padding: 0 0 10px 0;
	text-align: left;
	width: 175px;
	}
.styledselect_user{
	/*border: 1px solid #acacac;
	margin-right: 3px;
	margin-right: 3px;
	padding: 3px;
	width: 200px;*/
	/*background: url("../images/forms/form_inp.gif") no-repeat scroll 0 0 transparent;*/
	border: 1px solid #ACACAC;
	margin-right: 3px;
	width: 195px;
	margin-left: 4px;
	padding: 3px;
	border-radius: 2px;
	}
	
	
#step-holder {
font-family: cambria;
	height:39px;
	margin-bottom: 20px;
}	




.step-no {
	float:left;
	height:29px;
	width:18px;
	font-size: 18px;
	line-height: 18px;
	padding:10px 0 0 0;
	text-align: center;
}

.step-no-off {
	float:left;
	height:29px;
	width:18px;
	font-size: 18px;
	line-height: 18px;
	padding:10px 0 0 0;
	text-align: center;
	color:#cbcbcb;
}

.step-dark-left {
	float:left;
	 
	background: url(../images/forms/step_dark_left.gif) no-repeat;
	height:27px;
	padding:13px 15px 0 25px;
	font-size: 13px;
	color:#fff;
	font-weight: bold;
}

.step-dark-left a{
	 
	font-size: 13px;
	color:#fff;
	font-weight: bold;
}

.step-dark-right {
	float:left;
	width:12px;
	background: url(../images/forms/step_dark_right.gif) no-repeat;
	height:39px;
}
.step-dark-round {
	float:left;
	width:8px;
	height:39px;
	background: url(../images/forms/step_dark_round.gif) no-repeat;
}

.step-light-left {
	float:left;
	 	height:27px;
	padding:13px 15px 0 25px;
	font-size: 13px;
	background: url(../images/forms/step_light_left.gif) no-repeat;
	height:39px;
	color:#cbcbcb;
	font-weight: bold;
}

.step-light-left a{
	 
	 
	font-size: 13px;
 
	color:#cbcbcb;
	font-weight: bold;
}
.step-light-right {
	float:left;
	width:12px;
	background: url(../images/forms/step_light_right.gif) no-repeat;
	height:39px;
}
.step-light-round {
	float:left;
	width:8px;
	height:39px;
	background: url(../images/forms/step_light_round.gif) no-repeat;
}

.bubble-left {
	float:left;
	width:10px;
	height:29px;
	margin-left: 5px;
	background: url(../images/forms/bubble_left.gif) no-repeat;
}

.bubble-inner {
	float:left;
	padding: 7px 0px 0 2px;
	color:#2e74b2; 
	line-height: 14px;
	font-size: 11px;
	height:22px;
	background: url(../images/forms/bubble_inner.gif) repeat-x;
}
.bubble-right {
	float:left;
	width:8px;
	height:29px;
	background: url(../images/forms/bubble_right.gif) right no-repeat;
}
.error-left {
	float:left;
	width:13px;
	height:32px;
	margin-left: 5px;
	background: url(../images/forms/error_left.gif) no-repeat;
}

.error-inner {
	float:left;
	padding: 7px 10px 0 4px;
	color:#fff; 
	line-height: 14px;
	height:25px;
	background: url(../images/forms/error_right.gif) right  no-repeat;
}
.file_1 {
	border: 1px solid #acacac;
	padding: 5px;
}	
 
/*  NAVIGATION ----------------------------------------------- */
#nav-holder	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 780px;
	text-align: left;
	}
.nav-outer-repeat	{
	background: url(../images/shared/nav/repeat.jpg) repeat-x;
	height: 77px;
	}
.nav-outer	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 850px;
	}
#nav-right	{
	float: right;
	position: relative;
	width: 225px;
	z-index: 0;
	}
#nav-right a	{
	display: block;
	float: left;
	margin: 0px 0 0 0;
	}
.account-content	{
	background: #454545 url(../images/shared/nav/account_drop_bg.gif) no-repeat bottom;
	display: none;
	left: 5px;
	padding-bottom: 20px;
	position: absolute;
	top: 30px;
	width: 170px;
	}
.account-drop-inner	{
	font-size: 0px;
	line-height: 0px;
	margin: 20px auto 0 auto;
	width: 140px;
	}
.showhide-account	{
	cursor: pointer;
	display: block;
	float: left;
	margin: 10px 5px 0 5px;
	font-family: cambria;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 14px;
	}
.account-drop-inner a	{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	}
.account-drop-inner a:hover	{
	color: #2c577c;
	}
.acc-line	{
	background: url(../images/shared/nav/account_line.gif) no-repeat 0 7px;
	font-size: 0px;
	height: 14px;
	line-height: 0px;
	margin-top: 0px;
	padding: 0;
	}
a#logout	{
	margin: 0px 0 0 5px;
	font-family: cambria;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 14px;
	height:28px;
	padding-top:10px;
	}
	a#logout:hover{
		background: url(../images/shared/nav/pro_line_1.png);
	color: #333;
	cursor: pointer;
	padding: 10px 0px 0 0px;
	}
a#acc-settings	{
	background: url(../images/shared/nav/icon_acc_settings.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-details	{
	background: url(../images/shared/nav/icon_acc_personal.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-project	{
	background: url(../images/shared/nav/icon_acc_projects.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-inbox	{
	background: url(../images/shared/nav/icon_acc_inbox.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-stats	{
	background: url(../images/shared/nav/icon_acc_stats.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}

/* ================================================================ 
This copyright notice must be untouched at all times. The original version of this stylesheet and the associated (x)html is available at http://www.cssplay.co.uk/menus/pro_dropline.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved. This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
=================================================================== */

.nav	{
	float: left;
	font-family: cambria;
	font-size: 16px;
	height: 38px;
	position: relative;
	width: 810px;
	z-index: 500;
	}
.nav-divider	{
	background: url(../images/shared/nav/divider.png) top no-repeat;
	float: left;
	height: 40px;
	width: 15px;
	}
.nav .table	{
	display: table;
	}
.nav .select,
.nav .current	{
	display: table-cell;
	float: left;
	list-style: none;
	margin: 0 0px 0 0;
	padding: 0;
	white-space: nowrap;
	}
.nav li	{
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	}
.nav .select a	{
	color: #fff;
	display: block;
	float: left;
	height: 39px;
	line-height: 35px;
	padding: 0px 5px;
	text-decoration: none;
	white-space: nowrap;
	
	}
.nav .current a	{
	background: url(../images/shared/nav/pro_line_1.png);
	color: #333;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0px 0px;
	text-decoration: none;
	white-space: nowrap;
	}
.nav .current a b	{
	background: url(../images/shared/nav/pro_line_1.png) right top;
	display: block;
	padding: 0px 5px;
	}
.nav .select a:hover, 
.nav .select li:hover a	{
	background: url(../images/shared/nav/pro_line_1.png);
	color: #333;
	cursor: pointer;
	padding: 0px;
	}
.nav .select a:hover b, 
.nav .select li:hover a b
	{
	background: url(../images/shared/nav/pro_line_1.png) right top;
	cursor: pointer;
	display: block;
	float: left;
	padding:0px 5px;
	
	}
.nav .select_sub	{
	display: none;
	margin: 0 0 0 10px;
	}

/* IE6 only */
.nav table	{
	border-collapse: collapse;
	font-size: 1em;
	height: 0;
	margin: -1px;
	width: 0;
	}
.nav .sub	{
	display: table;
	list-style: none;
	/* margin: 0 auto; */
	padding: 0;
	}
.nav .sub_active .current_sub a, 
.nav .sub_active a:hover	{
	background: transparent;
	color: #fff;
	}
.nav .select :hover .select_sub, 
.nav .current .show	{
	background: url(../images/shared/nav/back_0.gif);
	 
	display: block;
	left: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 38px;
	width: 750px;
	z-index: 100;
	}
.nav .current .show	{
	z-index: 10;
	}
.nav .select :hover .sub li a, 
.nav .current .show .sub li a	{
	background: transparent;
	border: 0;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	display: block;
	float: left;
	margin: 0;
	padding: 0 10px 0 10px;
	white-space: nowrap;
	}
.nav .current .sub li.sub_show a	{
	background: url(../images/shared/nav/menus/back_1.gif);
	color: #fff;
	cursor: default;
	}
.nav .select :hover .sub li a:hover, 
.nav .current .sub li a:hover	{
	background: url(../images/shared/nav/menus/back_1.gif);
	color: #333;
	visibility: visible;
	}
 
	
	
 
 
	
	
/* FOOTER -------------------------------------------------------------- */

 
#footer	{
	height: 70px;
	margin: 0px auto;
	padding: 0px 0 0 0;
	text-align: left;
	min-width: 780px;
	width: auto;
	}
#footer-left	{
	color: #818181;
	 
	font-size: 11px;
	line-height: 11px;
	padding: 15px 0 15px 25px;
	margin: 0 20px;
	
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	background: url(../images/shared/icon_idlogo.jpg) no-repeat 0 12px;
	} 
#footer-left a	{
	color: #818181;
	text-decoration: none;
	}
#footer-left 	 a.selected,
#footer-left 	 a:hover	{
	color: #000;
	text-decoration: none;
	}
	
 
 
 
/* GENERAL --------------------------------------------------------*/ 
 table	{
	border-collapse: collapse;
	}
.fr	{
	float: right;
	}
a	{
	outline: none;
	text-decoration: none;
	}
a:hover	{
	}
.clear	{
	clear: both;
	font-size: 0px;
	height: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	}
img	{
	border: 0;
	}
p	{
	margin: 0px;
	padding: 0px;
	}
form	{
	margin: 0;
	padding: 0;
	}
.line	{
	border-top: 1px solid #dcdada;
	font-size: 0px;
	height: 1px;
	line-height: 0px;
	margin: 20px 0;
	padding: 0;
	}
.font11	{
	font-size: 11px;
	}



 
 
 
 
 
 
 
 
 
 
 
 
 
 
/*  STYLED SELECTBOXES style 1 --------------------------------- */	

.styledselect {
background: #2a2a2a;
border: 1px solid #424242;
	color:#fff;
	width:120px;
	padding: 5px;
	line-height: 14px;
	margin-right: 6px;
	font-size: 12px;
}

div.selectbox-wrapper	{
	background-color: #2a2a2a;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	z-index: 10;
	}
div.selectbox-wrapper ul	{
	list-style-type: none;
	 
	margin: 0px;
	padding: 0px;z-index: 10;
	}
div.selectbox-wrapper ul li.selected	{
	background-color: 575757;
	color: #fff;
	}
div.selectbox-wrapper ul li.current	{
	background-color: #575757;
	}
div.selectbox-wrapper ul li	{
	border-bottom: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	}
.selectbox_styled	{
	background: url(../images/shared/top_search_select.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #333;
	cursor: pointer;
	display: block;
	font-family: cambria;
	font-size: 12px;
	height: 23px;
	margin: 0px 0px 0px 0px;
	padding: 6px 0 0 6px;
	text-align: left;
	width: 105px;
	z-index: 10;
	}

/*  STYLED SELECTBOXES style 2 --------------------------------- */	
div.selectbox-wrapper2	{
	background-color: #e3e3e3;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	}
div.selectbox-wrapper2 ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
div.selectbox-wrapper2 ul li.selected2	{
	background-color: #dcdcdc;
	color: #333;
	}
div.selectbox-wrapper2 ul li.current2	{
	background-color: #315d84;
	color: #fff;
	}
div.selectbox-wrapper2 ul li	{
	border-bottom: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.styledselect_form_1{
    /*background: url("../images/forms/form_select.gif") no-repeat scroll left center transparent;
    border: medium none;
    color: #393939;
    cursor: pointer;
    display: block;
    font-family: cambria;
    font-size: 12px;
    height: 31px;
    margin: 0;
    padding: 7px 9px 8px 6px;
    text-align: left;
    width: 198px;*/
	border: 1px solid #ACACAC;
	margin-right: 3px;
	width: 195px;
	margin-left: 4px;
	padding: 5px 0px;
	padding: 3px;
	border-radius: 2px;
	}
.styledselect_recruiter {
    border: 1px solid #ACACAC;
	margin-right: 3px;
	width: 195px;
	margin-left: 4px;
	padding: 5px 0px;
	padding: 3px;
	border-radius: 2px;
}	

.styledselect_form_2	{
	background: url(../images/forms/form_select_small.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: cambria;
	font-size: 12px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 7px 0 0 10px;
	text-align: left;
	width: 60px;
	}

	
	
/*  STYLED SELECTBOXES style 3 --------------------------------- */	
div.selectbox-wrapper3	{
	background-color: #e3e3e3;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	}
div.selectbox-wrapper3 ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
div.selectbox-wrapper2 ul li.selected3	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper2 ul li.current3	{
	background-color: #94b52c;
	color: #fff;
	}
div.selectbox-wrapper3 ul li	{
	border-bottom: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
	}
.styledselect_pages	{
	background: url(../images/table/select_number_rows.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: cambria;
	font-size: 12px;
	height: 20px;
	line-height: 16px;
	margin: 0px 0px 0px 0px;
	padding: 4px 0 0 6px;
	text-align: left;
	width: 130px;
	}
	
	
	
	
	
 
	
/* STYLED CHECKBOXES AND RADIOS -------------------------------------------- */	
.ui-radio-state-disabled,
.ui-radio-state-checked-disabled,
.ui-radio-state-disabled-hover,
.ui-radio-state-checked-disabled-hover	{
	color: #999;
	}
span.ui-checkbox,
			span.ui-radio	{
	background: url(../images/shared/checkbox.gif) 0 -17px no-repeat;
	display: block;
	float: left;
	height: 17px;
	width: 17px;
	}
span.ui-helper-hidden	{
	display: none;
	}
label	{
	padding: 2px;
	}
span.ui-radio-state-hover,
			span.ui-checkbox-state-hover	{
	background-position: 0 0px;
	}
span.ui-checkbox-state-checked	{
	background-position: 0 0px;
	}
span.ui-checkbox-state-checked-hover	{
	background-position: 0 0px;
	}
span.ui-radio-state-checked-disabled-hover,
			span.ui-radio-state-checked-disabled,
			span.ui-radio-state-checked	{
	background-position: 0 -161px;
	}
span.ui-radio-state-checked-hover	{
	background-position: 0 -17px;
	}
label	{
	color: red;
	line-height: 20px;
	font-size: 10px;
	/*color: #F00;
	line-height: 2px;
	font-size: 12px;
	position: absolute;
	margin: -10px 0px 0px -130px;*/
	}
.ui-helper-hidden-accessible	{
	left: -999em;
	position: absolute;
	}
	
	
	
	
	
/*  LOGIN -------------------------------------------------------------------------------- */	

#login-bg	{
	background-image: url(../images/login/login_bg.png);
	background-repeat: repeat;
	background-position: center top;
	}
#login-holder	{
	margin: 0px auto 0 auto;
	width: 508px;
	}
#loginbox	{
	background: url(../images/login/loginbox_bg.png) no-repeat;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 70px;
	position: relative;
	width: 508px;
	}
#forgotbox	{
	background: url(../images/login/loginbox_bg.png) no-repeat;
	display: none;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 60px;
	position: relative;
	width: 508px;
	}
#login-inner	{
	color: #333;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 310px;
	}
#login-inner label	{
	color: #161616;
	cursor: pointer;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
	 
}
 .checkbox-size	{
	width:13px;
	height:13px;
	margin: 5px 0;
	 
	}	
#login-inner th	{
	padding: 0 0 6px 0;
	text-align: left;
	width: 95px;
	}
#login-inner td	{
	padding: 0 0 6px 0;
	}
.login-inp	{
	border: 1px solid #CCCCCC;
	color: #333;
	font-size: 12px;
	line-height:30px;
	height: 30px;
	width: 204px;
	text-indent:10px;
	background-image: url(../images/login/inp_login.gif);
	background-repeat: repeat-x;
	background-position: left top;
	
	/*raduis*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}
	
.login-inp:focus{
	-webkit-box-shadow: 0 2px 3px -2px #ccc;
	-moz-box-shadow: 0 32px 3px -2px #ccc;
	box-shadow: 0 2px 3px -2px #ccc;
	}
#logo-login	{
	float: left;
	height: 35px;
	margin: 145px 0 0 15px;
	}
a.forgot-pwd	{
	bottom: 30px;
	color: #161616;
	font-family: cambria;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	position: absolute;
	right: 40px;
	}
a:hover.forgot-pwd	{
	color: #3e78a6;
	text-decoration:underline;
	}
#forgotbox-text	{
	color: #fff;
	font-family: cambria;
	font-size: 13px;
	font-weight: bold;
	line-height: 12px;
	margin: 0 auto 40px auto;
	width: 380px;
	}
#forgot-inner	{
	color: #161616;
	font-family: cambria;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 330px;
	}
#forgot-inner label	{
	color: #161616;
	cursor: pointer;
	font-family: cambria;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
	}
#forgot-inner th	{
	padding: 0 0 6px 0;
	text-align: left;
	width: 110px;
	}
#forgot-inner td	{
	padding: 0 0 6px 0;
	}
a.back-login	{
	background: url(../images/login/icon_back_login.gif) no-repeat 0 4px;
	bottom: 30px;
	color: #161616;
	font-family: cambria;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 10px;
	position: absolute;
	right: 40px;
	}
a:hover.back-login	{
	color: #fff;
	}
.submit-login	{
	background: url(../images/login/submit_login.png) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	height: 29px;
	text-indent: -3000px;
	width: 73px;
}
.submit-login:hover	{
	background: url(../images/login/submit_login.png) no-repeat 0 -29px;
}
#pagination-digg{
	border:0; 
	margin:0; 
	padding:0;  
	width: 290px; 
	float:right;
} 
#pagination-digg li{
	border:0; margin:0; padding:0;
	font-size:11px;
	list-style:none;
	margin-right:2px;
}
#pagination-digg a{
	border:solid 1px #069;
	margin-right:2px;
	
}
#pagination-digg .previous-off, #pagination-digg .next-off {
	border:solid 1px #069;
	color:#222222;
	display:block;
	font-weight:bold;
	margin-right:2px;
	padding:3px 4px;

}
#pagination-digg .next a, #pagination-digg .previous a {
	font-weight:bold;
}
#pagination-digg .active{
	background:#069;
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left;
	padding:4px 6px;
}
#pagination-digg a:link, #pagination-digg a:visited {
	color:#222222;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}
#pagination-digg a:hover{
	border:solid 1px #222222
}

/*-- select ---*/
.change-select-menu{
	float:right;
	margin:0px;
	padding:0px;
	width:207px;
	position:relative;
	top:-100px;
	z-index:999;
}

.select{
	float:left;
	margin:0px;
	padding:0px;
	display:inline;
	list-style-type:none;
}
.select li{
	float:left;
	margin:0px;
	padding:0px;
	display:inline;
	list-style-type:none;
}
.select li a{
	color:#FFFFFF;
	line-height:37px;
}
.show_hide{
	float:left;
	margin:0px;
	padding:0px;
	width:80px;
	line-height:30px;
	border:1px solid #cfcfcf;
	text-align:center;
}
 #main-wrapper{
	 width:98%;
	 margin:0px auto;
	 padding:0px;
	 background:fcfcfc;
 }
  #send-form{
	  display:none;
  }
 #send-form{
 	 background: none repeat scroll 0 0 #FFFFFF;
	 float:left;
	 margin:0px;
	 padding:0px;
	 width:511px;
	 height:350px;
	 position:fixed;
	 bottom:0px;
	 right:0px;
	 border:1px solid #ccc;
 }
  #send-form h3{
	  float:left;
	 margin:0px;
	 padding:0px;
	 width:100%;
	 background:#000;
	 line-height:30px;
	 text-indent:10px;
	 color:#FFF;
  }
  
   #send-form input[type='text']{
		float:left;
		margin:0px;
		padding:0px;
		width:511px;
		height:30px;
		line-height:30px;
		text-indent:15px;
		border:none;
		border-bottom:1px solid #cfcfcf;
	}
	 #send-form input[type='button']{
		float:left;
		margin:10px 0px 0px 0px;
		padding:0px 15px 5px 0px;
		color:#FFF;
		background:#03C;
		height:30px;
		line-height:30px;
		text-indent:15px;
		border:none;
		border:1px solid #0000FF;
	}
	.text-area{
		float:left;
		margin:0px 0px 0px 0px;
		padding:10px 10px 5px 0px;
		color:#333;
		position:relative;
		height:200px;
		width:95%;
		left:15px;
		border:none;

	}
	.close_window{
	float: right;
	margin: 0px;
	padding: 0px;
	width:30px;
	height:30px;
	text-indent:100px;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	font: 0 arail;
	margin: 0 10px;
	background-position: right center !important;
	}
	#loading2{
	margin:0 auto !important;
	padding:0px;
	width:10%;
	position:absolute;
	top:50%;
	left:50%;

	}
	#mainloading{
	overflow:hidden;
	padding:0px;
	width:100%;
	position:absolute;
	height:100%;
	top:0;
	left:0;
	z-index:1000000;
	background-color:#333333;
	opacity:0.6;
	filter:alpha(opacity=60);
	color:#FFFFFF;
	font:14px cambria;
	}


#excel-button,
.excel-button
 {
	font: 13px calibri; 
	padding:7px 10px; 
	color: rgb(236, 242, 247); 
	border-radius: 5px; 
	border: medium none; 
	cursor: pointer; 
	background-color: rgb(64, 113, 149);
}	

#excel-button:hover,
.excel-button:hover {
	background-color: #6E93AE;
}

textarea {
	margin-left: 4px;
	margin-bottom: 10px;
}

input[type="file"] {
    margin-left: 4px;
}


#top-username {
/*position: absolute;*/
overflow: visible;
margin: -80px 0px 0px 0px;
z-index: 555555;
width: 133px;
word-wrap: break-word;
background: none repeat scroll 0% 0% rgb(254, 178, 37);
padding: 20px 5px 5px 4px;

-webkit-box-shadow: inset 9px -9px 5px -8px rgba(0,0,0,0.75);
-moz-box-shadow: inset 9px -9px 5px -8px rgba(0,0,0,0.75);
box-shadow: inset 9px -9px 5px -8px rgba(0,0,0,0.75);
}

#top-username span {
color: white;
font-weight: bold;
	}




.paulund_modal_close {
	background: url('../images/close-modal.png') no-repeat;
	opacity: 0.6;
}

.interview_modal_close {
	background: url('../images/close-modal.png') no-repeat;
	opacity: 0.6;
}
#interview-details-form label{
	color: #000;
	font-size: 12px;
}
#interview-details-form h3{
	display: table;
	margin: auto;
}
.interview-date-row, .interview-time-row, .interview-mode-row, .interview-timezone-row {
	margin: 20px;
}
.submit-interview-btn{
	display: table;
	margin: auto;
}

.light-table-filter {
width: 98%;
/* margin: 0px 0px 8px 12px; */
padding: 7px 7px 7px 5px;
border: 1px solid #D2D2D2;
}

.reset-search-bar {
display: none;	
position: absolute;
height: 25px;
margin: 2px 0px 0px -27px;
float: right;
cursor: pointer;
opacity: 0.6;
}

#target-num,
#ptno,
#manager-name,
#rec-status,
#rec-manager {
	padding:5px;
}

#target-form {

}

#target-form label {
  float:left;
  padding: 12px 20px 7px 10px;
  font-size: 15px;
  color: black;
}

#target-form #form-field {
  width:200px;
  float: right;
  padding: 5px 7px 8px 0px;
}

#set-target {
	float:right;
	margin:20px 0px 0px 0px;
    padding: 10px;;
}

#target-form h3 {
	text-align: center;
	font-size: 18px;
}

#target-form span {
	font-size: 18px;
}




/* Multi CheckBox in Selection */

 .multiselect {
        width: 140px;
    }
    .selectBox {
        position: relative;
    }
    .selectBox select {
        width: 140px;
        height: 27px;
    }
    .overSelect {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
    }
    #checkboxes,
    #checkboxes_loc,
    #checkboxes_visa {
        width: 138px;
        display: none;
        border: 1px #dadada solid;
        position:absolute;
        background: white;
        max-height:250px; 
        overflow-y:scroll;
        padding: 5px 0px 8px 0px;
    }

   /* #checkboxes label,
    #checkboxes_loc label,
    #checkboxes_visa label {
        display: block;
        padding: 0px 0px 0px 2px;
        color:black;
    }
    #checkboxes label:hover,
    #checkboxes_loc label:hover,
    #checkboxes_visa label:hover {
        background-color: #366289;
        color:white;
    }*/

    #checkboxes span,
    #checkboxes_loc span,
    #checkboxes_visa span {
        display: block;
        padding: 0px 0px 0px 2px;
        color:black;
        font-family: Arial;
        font-size: 10px;
    }
    #checkboxes span:hover,
    #checkboxes_loc span:hover,
    #checkboxes_visa span:hover {
        background-color: #366289;
        color:white;
    }

  .field-error {
  	color: red;
    padding: 5px 0px 10px 6px;
    font-weight: bold;
  }  



  .pagination li {
  display: inline-block;
  font-size: 15px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center;
}

.pagination li a {
  color: #444;
}

.pagination li.active a {
  color: #fff;
}

.pagination li.active {
    background-color: #366289;
    color: white;
}

.pagination li.disabled a {
  cursor: default;
  color: #999;
}

.pagination li i {
  /*font-size: 2.2rem;*/
  vertical-align: middle;
}

.pagination li.pages ul li {
  display: inline-block;
  float: none;
}

@media only screen and (max-width: 992px) {
  .pagination {
    width: 100%;
  }
  .pagination li.prev,
  .pagination li.next {
    width: 10%;
  }
  .pagination li.pages {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
  }
}



	.edit-status {
		cursor: pointer;
	}

	.close-options,
	.submit-option {
	cursor: pointer;
    font-weight: 700;
    background: #356188;
    padding: 1px 2px 1px 2px;
    margin: 5px 0px 0px 0px;
    color: white;
    float: right;
    text-align: center;
    width: 100%;
	}

	.close-options:hover,
	.submit-option:hover {
		background: #2C77B9;
	}


	.comment-view-section {
	position: absolute;
	display: none;
	/*width: 250px;
	height: 120px;*/
	padding: 15px;
	margin: -32px 208px 0px 0px;
	background:#ECECEC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #A4A4FF;
	right: 65px;
	max-width: 500px;
	color: black;
    font-weight: bold;

    -webkit-box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.75);
	}

	.comment-view-section:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent #ECECEC;
	display: block;
	width: 0;
	z-index: 1;
	right: -15px;
	top: 7px;
	}

	.comment-view-section:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent #A4A4FF;
	display: block;
	width: 0;
	z-index: 0;
	right: -16px;
	top: 7px;
	}


	.comment-item {
		width: 350px;
	    background: #CCCCE6;
	    padding: 4px 4px 1px 5px;
	    margin: 5px 0px 10px 0px;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;

	    -webkit-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
	}

	.comment-user {
		float: left;
	}

	.comment-time {
		float:right;
	}

	.comment-content {
		margin: 0px 0px 20px 0px;
	    width: 100%;
	    padding: 25px 0px 0px 0px;
	}

	.input-search {
		    width: 96%;
    		padding:3px 0px 3px 7px;
	}

	.download-link {
		text-align: center;
	    font-size: 15px;
	    /*text-decoration: underline;*/
	    padding: 10px !important;
	    background: #366289;
	    color: white;
	}

	.download-link:hover {
		background:#1267B3;
	}

	.download-link a {
		color: white !important;
	}

	.download-link a:hover {
		
	}

	.visacopy-input {
	    width: 45%;
	    margin: 0px 3px 0px 3px;
	    padding: 3px 0px 3px 0px;
	}

	.search-loadmore {
		display: none;
		text-align: center;
	    font-weight: bold;
	    font-size: 15px;
	    background: #366289;
	    color: white;
	    cursor: pointer;
	}

	.search-loadmore:hover {
		background: #1267B3;
	}



	.section-area {
	  position: relative;
	}

	.section-body-loader {
		display: none;
		width: 100%;
	    height: 100%;
	    top: 50%; 
	    left: 50%;
	  	transform: translate(-50%,-50%);
	    position: absolute;
	    z-index:99999;
	    opacity: 0.9;	
	}

	.only-loader {
		background: url('../images/loader.gif') no-repeat center;
	}

	.fill-background {
		background:#F9F9F9 url('../images/loader.gif') no-repeat center;
	}



	.table-head-imp {
		text-align:center; 
		background-color:#666; 
		color:#fff; 
		border:#000 1px solid;		
	}

	.table-head {
		text-align:center; 
		background-color:#666; 
		color:#fff; 
		border:#000 1px solid;		
	}

	.table-bottom {
		background-color:#666; 
		color:#fff; 
		border:#000 1px solid;	
	}

	.center-align {
		text-align: center;
	}

	.cds-table tr:nth-child(odd) td{
	}
	.cds-table tr:nth-child(even) td{
		background-color:#E6E6E6;
	}


	
	.list-table {
		width: 100%;
	}

	.list-table th {
    	line-height: 25px;
	}

	.list-table td {
		line-height: 22px;
	}
	.interview_modal_close {
		background: url('../images/close-modal.png') no-repeat;
		opacity: 0.6;
	}
	#interview-details-form label{
		color: #000;
		font-size: 12px;
	}
	#interview-details-form h3{
		display: table;
		margin: auto;
	}
	.interview-date-row, .interview-time-row, .interview-mode-row {
		margin: 20px;
	}
	.submit-interview-btn{
		display: table;
		margin: auto;
	}