/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
    src: url(./assets/font/digital-7-mono.ttf) format(truetype);
    font-family: 'timefont';
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #F5F5F5;
    --sidebar-color: #F5F5F5;
    --primary-color: #695CFE;
    --primary-color-light: #FFF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 40px;
    width: 220px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 6px;
    background-color: var(--primary-color-light);
}


.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

/* =========================== */

.sidebar header {
    position: relative;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 200px;
    border-radius: 6px;
}

.sidebar .menu {
    margin-top: 20px;
}

.sidebar li.search-box {
    border-radius: 20px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    border: 2px solid #0087C4;
}

.sidebar li.search-box input {
    width: 205.29px;
    height: 24.7px;
    outline: none;
    border: none;
    background-color: transparent;
    color: #0087C4;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 5px;
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

/* Search box icon color */
.search-box .icon {
    color: #0087C4;
}

.sidebar .menu-bar {
    height: calc(100% - 75px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.pregresspercent {
    padding-left: 5%;
}

.home {
    position: fixed;
    top: 0;
    margin-left: 16em;
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

/* Progress bar */

.progress_title {
    margin-left: 10px;
    font-size: 12px;
}

progress {
    width: 150px;
    margin-left: 10px;
}

.title_color {
    padding: 2px;
    border-radius: 50px;
    background-color: #3F79B5;
}

.bottom-content {
    border-radius: 15px;
    background-color: var(--primary-color-light);
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown {
    text-align: right;
    margin-right: 15px;
}

#time_period {
    border: none;
    background: linear-gradient(96.06deg, #0087C4 -35.02%, #0095D9 73.85%);
    border-radius: 7px;
    color: #FFF;
}

#time_period .time_period_options {
    color: #fff;
    background: #000;
}

/* ----====Home====---- */

.home .time {
    max-width: 97%;
    padding: 15px;
    margin-top: 8.5%;
    border-radius: 10px;
    background-color: var(--primary-color-light);
}

.clock {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-between;
    width: 58em;
}

.st {
    background-color: #000;
    display: flex;
    border-radius: 10px;
    font-size: 1.5rem;
    align-items: center;
}

#st {
    color: var(--primary-color-light);
    background-color: #0087C4;
    border-radius: 10px;
    padding: 1rem;
}

#IST, #EST, #CST, #PST {
    color: var(--primary-color-light);
    padding: 12px;
    align-items: center;
    font-family: "timefont", sans-serif;
    font-size: 140%;
}

/* ----====Main Content====---- */

.main_content {
    max-width: 97%;
    margin-top: 2%;
    border-radius: 10px;
    padding: 20px;
    background: var(--primary-color-light);
}

.greating {
    font-weight: 800;
    font-size: 35px;
    line-height: 44px;
    padding-bottom: 5px;
    margin-left: 40px;
}

.sub_text {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19.1868px;
    line-height: 26px;
    color: #515151;
    margin-left: 40px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: space-between;
    height: 100%;
}

.content_container {
    min-width: 27rem;
    height: 9.3rem;
    background: linear-gradient(108.87deg, #0095D9 4.8%, #0087C4 97.12%);
    border-radius: 21.0952px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 8px;
}

/* ----====Left Side bar====---- */
.left_sidebar {
    position: fixed;
    top: 0;
    right: 10px;
    height: 100%;
    width: 310px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.left_sidebar header {
    left: 20px;
}

.signin {
    background: linear-gradient(97.4deg, #0087C4 -46.2%, #0095D9 103.28%);
    border-radius: 7.47153px;
    width: 8rem;
    height: 3rem;
    font-family: 'Open Sans';
    font-style: normal;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}

.signin a {
    text-decoration: none;
    color: #FFF;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile_image img {
    margin-right: 10px;
}

.rewards {
    width: 290px;
    height: 255px;
}

.rewards_img .image_1 {
    width: 285px;
    height: 225px;
    border-radius: 10px;
    margin-top: 15px;
}

.notifications_div {
    width: 285px;
    height: 170px;
    border-radius: 10px;
    background-color: #DEDEDE;
    padding-top: 5%;
}

.notifi_title {
    width: 200px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #0087C4;
    margin-left: 15%;
    color: #0087C4;
}

.notifi_text {
    justify-content: center;
}

.notifi_ul {
    text-decoration: none;
    margin-left: 9%;
    font-size: smaller;
    margin-top: 5%;
}

/* congratulations */
.congratulations_div {
    background: linear-gradient(107.42deg, #0087C4 56.99%, rgba(0, 149, 217, 0.05) 115.16%);
    border-radius: 10px;
    margin-top: 5%;
    height: 160px;
}
.congrats_title{
    text-align: center;
    font-family: cursive;
    font-size: 2.2rem;
}
.congrats{
    padding: 5%;
    font-size: small;
}