* {
    box-sizing: border-box;
}

:root {
    --app-bg-dark: #01081f;
    --app-bg-before: linear-gradient(180deg, rgba(1, 8, 31, 0) 0%, rgba(1, 8, 31, 1) 100%);
    --app-bg-before-2: linear-gradient(0deg, rgba(1, 8, 31, 0) 0%, rgba(1, 8, 31, 1) 100%);
    --app-bg-light: #f5f5f5;
    --app-logo: #3d7eff;
    --nav-link: #5e6a81;
    --nav-link-active: #fff;
    --list-item-hover: #0c1635;
    --main-color: #fff;
    --secondary-color: #5e6a81;
    --color-light: rgba(52, 129, 210, .2);
    --warning-bg: #ffe5e5;
    --warning-icon: #ff8181;
    --applicant-bg: #e3fff1;
    --applicant-icon: #61e1a1;
    --close-bg: #fff8e5;
    --close-icon: #fdbc64;
    --draft-bg: #fed8b3;
    --draft-icon: #e9780e;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: var(--app-bg-light);
    padding: 0;
    margin: 0;
}

.app-container {
    /* width: 100%; */
    height: 100%;
    display: flex;
    position: relative;
    max-width: 1680px;
}

.app-left {
    flex-basis: 260px;
    background-color: var(--app-bg-light);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 0;
    transition: all 0.4s ease-in;
}

.app-left.show {
    right: 0;
    opacity: 1;
}

.st {
    display: flex;
    justify-content: space-between;
}

#st {
    color: #fff;
    background-color: #0087C4;
    padding: 15px;
    border-radius: 10px;
}

#PST, #CST, #EST, #IST {
    color: #fff;
    background-color: #000;
    align-self: center;
    font-size: 100%;
}

.app-main {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--app-bg-light);
    padding: 24px;
}

.app-right {
    flex-basis: 320px;
    width: 320px;
    background-color: var(--app-bg-light);
    height: 100%;
    padding: 64px 0 0 0;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.4s ease-in;
}

.app-right:before {
    position: absolute;
    bottom: 0;
    height: 48px;
    width: 100%;
    background-image: var(--app-bg-before);
    z-index: 1;
}

.app-right.show {
    right: 0;
    opacity: 1;
}

.app-right .close-right {
    display: none;
}

.app-right-content {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.app-logo {
    display: flex;
    align-items: center;
    color: var(--app-logo);
    margin-right: 16px;
    padding: 0 24px;
}

.logo {
    width: auto;
}

.app-logo span {
    color: #fff;
    display: inline-block;
    line-height: 24px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.nav-list-item {
    background: #fff;
    margin-bottom: 12px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-list-item:not(.active):hover {
    background: linear-gradient(108.87deg, #0095D9 4.8%, #0087C4 97.12%);
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    stroke: #fff !important;
    color: #fff !important;
}

.nav-list-item.active .nav-list-link {
    /* color: var(--nav-link-active); */
    background: linear-gradient(108.87deg, #0095D9 4.8%, #0087C4 97.12%);
    border-radius: 10px;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-list-item.active .nav-list-link:after {
    height: 100%;
    opacity: 1;
    color: var(--main-color) !important;
}

.nav-list-item.active svg {
    stroke: #fff;
}


.nav-list-link {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 24px;
    color: var(--nav-link);
    display: flex;
    align-items: center;
    position: relative;
}

.nav-list-link:hover{
    color: var(--main-color);
}

.nav-list-link svg {
    margin-right: 12px;
}

.nav-list-link:after {
    height: 100%;
    width: 2px;
    color: var(--main-color) !important;
    background-color: var(--app-logo);
    right: 0;
    top: 0;
    position: absolute;
    border-radius: 2px;
    opacity: 0;
    height: 0;
}

.open-right-area {
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--app-bg-dark);
    border-radius: 4px;
    height: 40px;
    width: 40px;
    padding: 0;
}

.main-header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.main-header-line h1 {
    color: var(--main-color);
    margin: 0;
    font-size: 24px;
    line-height: 32px;
}

.main-header-line input {
    border-radius: 4px;
    background-color: var(--color-light);
    border: none;
    border: 1px solid var(--color-light);
    color: var(--main-color);
    height: 32px;
    padding: 0 8px 0 32px;
    font-size: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%233481d2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
    background-position: center left 10px;
    background-repeat: no-repeat;
    background-size: 16px;
    outline: none;
    transition: 0.2s;
    width: 100%;
    max-width: 400px;
    margin-left: 16px;
}

.main-header-line input:placeholder {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.main-header-line input:hover, .main-header-line input:focus {
    border: 1px solid #3481d2;
    box-shadow: 0 0 0 3px var(--color-light);
    border-radius: 10px;
}

.chart-row {
    display: flex;
    justify-content: space-between;
    margin: 0 -8px;
}

.chart-row.three .chart-container-wrapper {
    width: 33.3%;
}

.chart-row.three {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.chart-row.two {
    background-color: #fff;
    border-radius: 10px;
}

.chart-row.three .chart-container-wrapper .chart-container {
    justify-content: space-between;
    background-color: #000;
}

.chart-row.two .big {
    flex: 1;
    max-width: 100%;
}

.chart-row.two .big .chart-container {
    flex-direction: column;
}

.chart-row.two .small {
    width: 33.3%;
}

.chart-row.two .small .chart-container {
    flex-direction: column;
}

.chart-row.two .small .chart-container+.chart-container {
    margin-top: 16px;
}

.line-chart {
    width: 100%;
    margin-top: 24px;
}

.chart-container {
    width: 100%;
    border-radius: 10px;
    background-color: var(--main-color);
    padding: 16px;
    align-items: center;
}

.chart-container.applicants {
    max-height: 336px;
    overflow-y: auto;
}

.chart-container-wrapper {
    padding: 8px;
}

.chart-info-wrapper {
    flex-shrink: 0;
    flex-basis: 120px;
}

.chart-info-wrapper h2 {
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 8px 0;
}

.chart-info-wrapper span {
    color: var(--main-color);
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.chart-svg {
    position: relative;
    max-width: 90px;
    min-width: 40px;
    flex: 1;
}

.percentage {
    fill: #fff;
    font-size: 0.5em;
    text-anchor: middle;
    font-weight: 400;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.chart-container-header {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}

.gm {
    font-size: 2em !important;
    padding: 15px;
    color: #0087C4 !important;
}

.gm-text {
    font-size: 1em !important;
    padding-left: 15px;
    padding-top: 5px;
    color: #515151 !important;
}

.chart-container-header h2 {
    margin: 0;
    color: var(--main-color);
    font-size: 12px;
    line-height: 16px;
    opacity: 0.8;
}

.chart-container-header span {
    color: var(--app-logo);
    font-size: 12px;
    line-height: 16px;
}

.acquisitions-bar {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 8px;
    display: flex;
}

.bar-progress {
    height: 4px;
    display: inline-block;
}

.bar-progress.applications {
    background-color: rgba(255, 125, 203, 1);
}

.bar-progress.shortlisted {
    background-color: rgba(0, 207, 222, 1);
}

.bar-progress.on-hold {
    background-color: rgba(253, 172, 66, 1);
}

.bar-progress.rejected {
    background-color: rgba(255, 92, 92, 1);
}

.progress-bar-info {
    display: flex;
    align-items: center;
    margin-top: 8px;
    width: 100%;
}

.progress-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.progress-color.applications {
    background-color: rgba(255, 125, 203, 1);
}

.progress-color.shortlisted {
    background-color: rgba(0, 207, 222, 1);
}

.progress-color.on-hold {
    background-color: rgba(253, 172, 66, 1);
}

.progress-color.rejected {
    background-color: rgba(255, 92, 92, 1);
}

.progress-type {
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 16px;
}

.progress-amount {
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 16px;
    margin-left: auto;
}

.applicant-line {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 12px;
}

.applicant-line img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    flex-shrink: 0;
}

.applicant-info span {
    color: var(--main-color);
    font-size: 14px;
    line-height: 16px;
}

.applicant-info p {
    margin: 4px 0;
    font-size: 12px;
    line-height: 16px;
    color: var(--secondary-color);
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile-box:before {
    position: absolute;
    top: 100%;
    height: 48px;
    width: 100%;
    background-image: var(--app-bg-before-2);
    z-index: 1;
}

.profile-photo-wrapper {
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 16px;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 2em;
}

.profile-photo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-text, .profile-subtext {
    font-size: 12px;
    line-height: 16px;
    color: var(--secondary-color);
    margin: 0 0 8px 0;
}

.profile-text {
    font-weight: 600;
}

.app-right-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin-top: 16px;
}

.app-right-section-header h2 {
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary-color);
}

.app-right-section-header span {
    display: inline-block;
    color: var(--secondary-color);
    position: relative;
}

.app-right-section-header span.notification-active:before {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--app-logo);
    top: -1px;
    right: -1px;
    box-shadow: 0 0 0 2px var(--app-bg-dark);
}

.message-line {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 8px;
}

.message-line:hover {
    background-color: var(--list-item-hover);
}

.message-line img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.message-text-wrapper {
    max-width: calc(100% - 48px);
}

.message-text {
    font-size: 14px;
    line-height: 16px;
    color: var(--main-color);
    margin: 0;
    opacity: 0.8;
    width: 100%;
}

.message-subtext {
    font-size: 12px;
    line-height: 16px;
    color: var(--secondary-color);
    margin: 4px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.activity-line {
    padding: 8px 16px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
}

.activity-link {
    font-size: 12px;
    line-height: 16px;
    color: var(--app-logo);
    text-decoration: underline;
}

.activity-text {
    font-size: 12px;
    line-height: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin: 0;
}

.activity-text strong {
    color: #fff;
    opacity: 0.4;
    font-weight: 500;
}

.activity-icon {
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 8px;
}

.activity-icon.warning {
    background-color: var(--warning-bg);
    color: var(--warning-icon);
}

.activity-icon.applicant {
    background-color: var(--applicant-bg);
    color: var(--applicant-icon);
}

.activity-icon.close {
    background-color: var(--close-bg);
    color: var(--close-icon);
}

.activity-icon.draft {
    background-color: var(--draft-bg);
    color: var(--draft-icon);
}

.action-buttons {
    display: flex;
    align-items: center;
}

.menu-button {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--app-bg-dark);
    border: none;
    color: var(--main-color);
    border-radius: 4px;
}

.close-menu {
    position: absolute;
    top: 16px;
    right: 16px;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
    color: var(--main-color);
    cursor: pointer;
}

@media screen and (max-width: 1350px) {
    .app-right {
        flex-basis: 240px;
        width: 240px;
        padding: 0;
    }

    .app-left {
        flex-basis: 270px;
    }

    #PST, #CST, #EST, #IST {
        font-size: 1em;
    }
    .congrats-title{
        font-size: 1.5em !important;
    }

}

@media screen and (max-width: 1200px) {
    .app-right {
        position: absolute;
        opacity: 0;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 320px;
        right: -100%;
        box-shadow: 0 0 10px 5px rgba(1, 8, 31, .4);
    }

    .app-right .close-right {
        position: absolute;
        top: 16px;
        right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        padding: 0;
        color: var(--main-color);
        cursor: pointer;
    }

    .app-main .open-right-area {
        display: flex;
        color: var(--main-color);
    }

    .main-header-line {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 920px) {
    .menu-button {
        display: flex;
    }

    .app-left {
        position: absolute;
        opacity: 0;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 320px;
        right: -100%;
        box-shadow: 0 0 10px 5px rgba(1, 8, 31, .4);
    }

    /* .close-menu {
        display: flex;
    } */
    
}

@media screen and (max-width: 650px) {
    .chart-row.three {
        flex-direction: column;
    }

    .chart-row.three .chart-container-wrapper {
        width: 100%;
    }

    .chart-svg {
        min-height: 60px;
        min-width: 40px;
    }
}

@media screen and (max-width: 520px) {
    .chart-row.two .small {
        flex-direction: column;
    }

    .chart-row.two .small .chart-container {
        width: 100%;
    }

    .chart-row.two .small .chart-container.applicants {
        margin-top: 16px;
    }

    .main-header-line h1 {
        font-size: 14px;
    }
}

.search-box .search {
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #0087C4;
    margin-left: 10px;
    height: 40px;
    width: -webkit-fill-available;
    margin-right: 10px;
    margin-bottom: 15px;
    padding-left: 15px;
}

/* progress bar */

.bottom-content {
    border-radius: 15px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 28%;
}

.dropdown {
    text-align: right;
    margin-right: 15px;
}

#time_period {
    border: none;
    background: linear-gradient(96.06deg, #0087C4 -35.02%, #0095D9 73.85%);
    border-radius: 7px;
    color: #FFF;
}

#time_period .time_period_options {
    color: #fff;
    background: #000;
}

.progress_title {
    margin-left: 10px;
    font-size: 12px;
}

progress {
    width: 150px;
    margin-left: 10px;
}

.pregresspercent {
    padding-left: 5%;
}

/* Main Content */
.main_content {
    display: flex;
    justify-content: space-evenly;
}

.content_div {
    height: auto;
    margin: 29px;
    align-self: center;
    background-color: #0087C4;
    width: 250px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.content_text {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color: #222222;
}

.content_icon {
    height: 50px;
    width: 250px;
}

/* notifications */
.notifications-title {
    background-color: transparent;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0.811501px solid #0087C4;
    border-radius: 16.23px;
    color: #0087C4;


}

.notifications-div {
    background-color: #DEDEDE;
    margin-left: 10px;
    padding-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.notifications-list {
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    margin-left: 30px;
    margin-right: 10px;
}

.notifications {
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* list-style-type: disc !important; */
    margin-left: 20px;
    padding-top: 5px;
}

.notifications li {
    padding-top: 5px;
    color: #848484;
}

.notifications li::before {
    content: "\2022";
    color: red;
    font-weight: bolder;
    display: inline-block; 
    width: 2em;
    margin-left: -2em;
}

.congrats-div {
    background: linear-gradient(107.42deg, #0087C4 56.99%, rgba(0, 149, 217, 0.05) 115.16%);
    border-radius: 16.2919px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.congrats-title{
    font-size: 2em;
    padding-top: 15px;
    text-align: center;
    color: var(--nav-link-active);
}
.congrats-content{
    font-size: 13px;
    padding: 20px;
    text-align: left;
    color: var(--nav-link-active);
}
