* {
    box-sizing: border-box;
}
body {
    font-family: "Nunito", sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

.container{
    height: 200vh;
	background-image: url(https://images.unsplash.com/photo-1538137524007-21e48fa42f3f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ac9fa0975bd2ebad7afd906c5a3a15ab&auto=format&fit=crop&w=1834&q=80);
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.modal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #2d2d2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.modal-container {
    display: flex;
    max-width: 720px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    background: #fff;
    transform: translateY(100px) scale(0.4);
}
.modal-title {
    align-items: center;
    text-align: center;
    margin: 0 !important;
}
.modal-desc {
    margin: 0;
    font-size: x-small;
    text-align: center;
    padding-bottom: 20px;
}
.modal-left {
    padding: 60px 30px 20px;
    background: #fff;
    flex: 1.5;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
}
.modal-button {
    color: #7d695e;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 10px 40px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
}
.modal-button:hover {
    border-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.8);
}
.modal-right {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;
}
.modal-right img {
    width: 100%;
    height: 100%;
    transform: scale(2);
    object-fit: cover;
    transition-duration: 1.2s;
}
.modal.is-open {
    height: 100%;
    background: #2d2d2d;
}
.modal.is-open .modal-button {
    opacity: 0;
}
.modal.is-open .modal-container {
    opacity: 1;
    transition-duration: 0.6s;
    pointer-events: auto;
    transform: translateY(0) scale(1);
}
.modal.is-open .modal-right img {
    transform: scale(1);
}
.modal.is-open .modal-left {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.1s;
}
.modal-buttons {
   margin-left: 35%;
}
.modal-buttons a {
    color: rgba(51, 51, 51, 0.6);
    font-size: 10px;
    text-decoration: none;
}
.sign-up {
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.input-button {
    padding: 8px 12px;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(96.33deg, #0087C4 -4.22%, #04B0FF 84.36%);
    border-radius: 7.5px;
    font-family: "Nunito", sans-serif;
    transition: 0.3s;
    cursor: pointer;
}
.input-button:hover {
    background: #55311c;
}
.input-label {
    font-size: 11px;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #8c7569;
    transition: 0.3s;
}
.input-block {
    display: flex;
    width: 200px;
    flex-direction: column;
    padding: 5px 12px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 15%;
    transition: 0.3s;
    background-color: #EFEFEF;
}
.input-block input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    background-color: #EFEFEF;
}
.input-block input::placeholder {
    color: #474747;
    opacity: 0.9;
}
.icon-button {
    outline: 0;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 32px;
    height: 32px;
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
}
.scroll-down {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #7d695e;
    font-size: 32px;
    font-weight: 800;
    transform: translate(-50%, -50%);
}
.scroll-down svg {
    margin-top: 16px;
    width: 52px;
    fill: currentColor;
}
@media (max-width: 750px) {
    .modal-container {
        width: 90%;
   }
    .modal-right {
        display: none;
   }
}

/* Overlay animation */
.overlay{
    position: absolute;
    top: 25%;
    left: 55%;
    right: 2%;
    transition: transform .2s;
}
.overlay:hover{
    transform: scale(1.1);
}
.login{
    font-size: 3em;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.forgot{
    font-size: 10px;
    text-decoration: none;
    margin-left: 25%;
}
.logo{
    position: absolute;
    left: 44%;
    top: 30%;
}