@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --black: #130f0d;
    --primary: #fd951f;
    --white: #f0f0f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
button,
input {
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    color: #000;
    background-color: #f5f5f5;
}

main {
    width: 1500px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.tab-links {
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

button {
    position: relative;
    padding: 16px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
}

.tab-links button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 15px;
    border-radius: 20px;
    background-color: #fd951f;
    transition: .4s;
}

button:hover::after,
button.active::after {
    width: 100%;
}

.tab-content>section {
    animation: up 1s;
    padding-left: 20px;
    padding-right: 20px;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}

.default_nav {
    max-width: 1200px;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.reports-menu {
    max-width: 1500px;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0087C4;
    color: white;
    text-align: center;
 }

.table-header{
    color: #fff !important;
    font-weight: 500 !important;
    text-align: center;
}

tr:hover{
    color: #fff !important;
    background-color: #0087C4 !important;
}

#prepare{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.table-div {
    margin: 10px 20px 0 20px;
    padding: 20px 50px !important;
}

.end-text{
    padding: 10px;
}

.sub-table th{
    color: #fff;
    font-weight: 500;
    background-color: green !important;
}

.sub-table td{
    border: 0.1px solid #000;
}

#comparision-report tr:hover{
    background-color: transparent !important;
    color: #000 !important;
}